@keyframes RightToLeft {
    0% {
        opacity: 0;/* 透明 */
        transform: translateX(50px);/* X軸方向に50px */
    }
    100% {
        opacity: 1;/* 不透明 */
        transform: translateX(0);/* X軸方向に0px */
    }
}

body {
    margin: 0;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;     /*上下中央揃え*/
    font-family: kan412typos-std,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

.main div {
    margin: 0 20%;
}

.main h1,p {
    margin: 0;
    animation-name: RightToLeft;/* アニメーション名 */
    animation-duration: 1s;/* アニメーション時間 */
}

.main a {
    text-decoration: none;
    color: rgb(58, 211, 198);
}

#main.fadeout {
    animation-name: LeftToRight;/* アニメーション名 */
    animation-duration: 1s;/* アニメーション時間 */
}