@keyframes RightToLeft {
    0% {
        opacity: 0;/* 透明 */
        transform: translateX(50px);/* X軸方向に50px */
    }
    100% {
        opacity: 1;/* 不透明 */
        transform: translateX(0);/* X軸方向に0px */
    }
}

body {
    padding: 5% 20%;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    body {
        padding: 10%;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 10%;
    }
}

p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    img {
        width: 80%;
    }
}

a {
    text-decoration: none;
    color: rgb(58, 211, 198);
}

h1,h2,h3,h4,p,img {
    animation-name: RightToLeft;/* アニメーション名 */
    animation-duration: 1s;/* アニメーション時間 */
}

